<nav class="navbar">
	<a href="{{ path('app_main') }}">
        <img src="{{ asset('/assets/images/logo.png') }}" alt="Logo OpenBlog" class="logo">
    </a>
	<ul>
		<li>Accueil</li>
		<li>Article</li>
		<li>Catégorie</li>
		<li>Auteur</li>
		<li>Contact</li>
		<li>Recherche</li>
	</ul>
</nav>
