<nav>
    <img src="" alt="">
    <ul>
        <li>Accueil</li>
        <li>Article</li>
        <li>Catégorie</li>
        <li>Auteur</li>
        <li>Contact</li>
        <li>Recherche</li>
    </ul>
</nav>
